<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if !@friends.blank?  %> 
  <div class="card card-header results-block mt-3">
    <table class="col-md-12">
      <tbody>   
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Email: </strong><%= friend.email %></td>
            <td><strong>Name: </strong><%= friend.first_name %> <%= friend.last_name%></td>
            <td><strong>Actions:<%= link_to "View profile", user_path(friend), class: 'btn btn-xs btn-success' %>
            <% if !current_user.friend_already_added?(friend.email) %>
              <%= link_to 'Add friend?', friendships_path(user: current_user, friend: friend.id), class: 'btn btn-xs btn-success', method: :post %></td>
            <% else %>
            <span class="badge bg-primary">
              You are already friends with <%= friend.first_name %> 
            </span>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </div>

  
<% end %>